workflows/Support Approval Button Handler.json
{
  "name": "Support Approval Button Handler",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Slack usually sends interactive payload as form field: payload\nlet payloadRaw =\n  input.body?.payload ||\n  input.payload ||\n  input.body;\n\nlet payload;\n\ntry {\n  payload = typeof payloadRaw === 'string'\n    ? JSON.parse(payloadRaw)\n    : payloadRaw;\n} catch (error) {\n  throw new Error(`Could not parse Slack payload: ${error.message}`);\n}\n\nconst clickedAction = payload.actions?.[0];\n\nif (!clickedAction?.value) {\n  throw new Error('No Slack action value found.');\n}\n\nconst [ticket_id, decision] = clickedAction.value.split('|');\n\nreturn [\n  {\n    json: {\n      ticket_id,\n      decision,\n      action_id: clickedAction.action_id,\n      clicked_by_id: payload.user?.id || '',\n      clicked_by_name: payload.user?.username || payload.user?.name || '',\n      slack_channel: payload.channel?.id || '',\n      slack_message_ts: payload.message?.ts || '',\n      response_url: payload.response_url || '',\n      original_message_text: payload.message?.text || ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -304
      ],
      "id": "c804ca8e-7514-4dff-8e50-46e50f6730e1",
      "name": "Parse Slack Approval Action"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2965871a-5ddc-4f47-b69a-e90ec958f6dd"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "78bb0e97-9c24-4a88-922a-15df6351853d",
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "needs_edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2dd3fd17-1c03-4c38-b458-9c2684607513",
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1168,
        -320
      ],
      "id": "4d158faf-433d-46ba-bf9b-23869b9a92a4",
      "name": "Route Approval Decision"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.gmail_message_id }}",
        "emailType": "text",
        "message": "={{ $json.final_reply || $json.suggested_reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1712,
        -864
      ],
      "id": "ba33c363-bf02-4cba-95ba-bf66432f04fc",
      "name": "Reply to a message",
      "webhookId": "26a3c9ad-33d5-4253-9af6-06d69f4a9de5",
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_OAUTH2_CREDENTIAL_ID_PLACEHOLDER",
          "name": "GMAIL_OAUTH2_CREDENTIAL_NAME_PLACEHOLDER"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_SLACK_INTERACTIVITY_WEBHOOK_PATH",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -256,
        -304
      ],
      "id": "843f07c4-b40a-43b1-b914-6fdbbae2952b",
      "name": "Slack Trigger",
      "webhookId": "35077bf1-96d5-4ff5-a967-2f622768fd6e"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_TAB_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_TAB_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_TAB_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Needs Edit",
            "reviewer_notes": "=Reviewer requested edits. Update final_reply in Google Sheets before sending.",
            "approved_by": "={{ $('Prepare Ticket Decision Context').first().json.clicked_by_name }}",
            "approved_at": "={{ $now.format('yyyy-MM-dd HH:mm:ss ZZZZ') }}"
          },
          "matchingColumns": [
            "ticket_id"
          ],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_intent",
              "displayName": "customer_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_human",
              "displayName": "needs_human",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_reply",
              "displayName": "suggested_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_reply",
              "displayName": "final_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_message_id",
              "displayName": "gmail_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_thread_id",
              "displayName": "gmail_thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slack_channel",
              "displayName": "slack_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slack_message_ts",
              "displayName": "slack_message_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviewer_notes",
              "displayName": "reviewer_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        -176
      ],
      "id": "5ed3df59-7bf4-48c3-b287-cb3dc40997db",
      "name": "Update Sheet: Needs Edit",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_OAUTH2_CREDENTIAL_ID_PLACEHOLDER",
          "name": "GOOGLE_SHEETS_OAUTH2_CREDENTIAL_NAME_PLACEHOLDER"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    channel: $('Prepare Needs Edit Ticket').first().json.slack_channel,\n    ts: $('Prepare Needs Edit Ticket').first().json.slack_message_ts,\n    text: 'Support ticket marked as needs edit',\n    blocks: [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text:\n            '✏️ *Needs edit*\\n' +\n            '*From:* ' + ($('Prepare Needs Edit Ticket').first().json.customer_email || 'Unknown') + '\\n' +\n            '*Subject:* ' + ($('Prepare Needs Edit Ticket').first().json.subject || 'No subject') + '\\n' +\n            '*Category:* `' + ($('Prepare Needs Edit Ticket').first().json.category || $('Prepare Needs Edit Ticket').first().json.ai_category || 'other') + '`\\n' +\n            '*Priority:* `' + ($('Prepare Needs Edit Ticket').first().json.priority || $('Prepare Needs Edit Ticket').first().json.ai_priority || 'unknown') + '`\\n' +\n            '*Summary:* ' + ($('Prepare Needs Edit Ticket').first().json.summary || $('Prepare Needs Edit Ticket').first().json.ai_summary || 'No summary available') + '\\n\\n' +\n            '*Next step:* Edit `final_reply` in Google Sheets, then send manually or use the approval fallback workflow.\\n\\n' +\n            '*Ticket ID:* `' + $('Prepare Needs Edit Ticket').first().json.ticket_id + '` • ' +\n            '*Status:* `Needs Edit` • ' +\n            '*Marked by:* `' + ($('Prepare Needs Edit Ticket').first().json.reviewed_by || $('Prepare Needs Edit Ticket').first().json.clicked_by_name) + '` • ' +\n            '*Marked at:* `' + ($('Prepare Needs Edit Ticket').first().json.reviewed_at || '') + '`'\n        }\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        -176
      ],
      "id": "6977e6c0-a44e-4aca-baf6-40271286dae5",
      "name": "Slack: Update Needs Edit Message",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HTTP_HEADER_AUTH_CREDENTIAL_ID_PLACEHOLDER",
          "name": "HTTP_HEADER_AUTH_CREDENTIAL_NAME_PLACEHOLDER"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_TAB_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_TAB_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_TAB_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Rejected",
            "reviewer_notes": "Reviewer rejected the AI suggested reply. No email was sent.",
            "approved_by": "={{ $('Prepare Ticket Decision Context').first().json.clicked_by_name }}",
            "approved_at": "={{ $now.format('yyyy-MM-dd HH:mm:ss ZZZZ') }}"
          },
          "matchingColumns": [
            "ticket_id"
          ],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_intent",
              "displayName": "customer_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_human",
              "displayName": "needs_human",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_reply",
              "displayName": "suggested_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_reply",
              "displayName": "final_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_message_id",
              "displayName": "gmail_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_thread_id",
              "displayName": "gmail_thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slack_channel",
              "displayName": "slack_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slack_message_ts",
              "displayName": "slack_message_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviewer_notes",
              "displayName": "reviewer_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1696,
        512
      ],
      "id": "27fd945a-0b59-45e3-a050-d4a60251648b",
      "name": "Update Sheet: Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_OAUTH2_CREDENTIAL_ID_PLACEHOLDER",
          "name": "GOOGLE_SHEETS_OAUTH2_CREDENTIAL_NAME_PLACEHOLDER"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    channel: $('Prepare Rejected Ticket').first().json.slack_channel,\n    ts: $('Prepare Rejected Ticket').first().json.slack_message_ts,\n    text: 'Support ticket rejected',\n    blocks: [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text:\n            '🚫 *Rejected*\\n' +\n            '*From:* ' + ($('Prepare Rejected Ticket').first().json.customer_email || 'Unknown') + '\\n' +\n            '*Subject:* ' + ($('Prepare Rejected Ticket').first().json.subject || 'No subject') + '\\n' +\n            '*Category:* `' + ($('Prepare Rejected Ticket').first().json.category || $('Prepare Rejected Ticket').first().json.ai_category || 'other') + '`\\n' +\n            '*Priority:* `' + ($('Prepare Rejected Ticket').first().json.priority || $('Prepare Rejected Ticket').first().json.ai_priority || 'unknown') + '`\\n' +\n            '*Summary:* ' + ($('Prepare Rejected Ticket').first().json.summary || $('Prepare Rejected Ticket').first().json.ai_summary || 'No summary available') + '\\n\\n' +\n            '*Result:* No email was sent.\\n\\n' +\n            '*Ticket ID:* `' + $('Prepare Rejected Ticket').first().json.ticket_id + '` • ' +\n            '*Status:* `Rejected` • ' +\n            '*Rejected by:* `' + ($('Prepare Rejected Ticket').first().json.rejected_by || $('Prepare Rejected Ticket').first().json.clicked_by_name) + '` • ' +\n            '*Rejected at:* `' + ($('Prepare Rejected Ticket').first().json.rejected_at || '') + '`'\n        }\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2000,
        512
      ],
      "id": "5ea333e9-8fd1-4c76-9c55-9163a8ee9978",
      "name": "Slack: Update Rejected Message",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HTTP_HEADER_AUTH_CREDENTIAL_ID_PLACEHOLDER",
          "name": "HTTP_HEADER_AUTH_CREDENTIAL_NAME_PLACEHOLDER"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_TAB_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_TAB_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_TAB_ID"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ticket_id",
              "lookupValue": "={{ $json.ticket_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -304
      ],
      "id": "b68b349d-9151-41ae-b4ee-168024ac637a",
      "name": "Lookup Tickets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_OAUTH2_CREDENTIAL_ID_PLACEHOLDER",
          "name": "GOOGLE_SHEETS_OAUTH2_CREDENTIAL_NAME_PLACEHOLDER"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{\n  {\n    decision: $('Parse Slack Approval Action').first().json.decision,\n    clicked_by_id: $('Parse Slack Approval Action').first().json.clicked_by_id,\n    clicked_by_name: $('Parse Slack Approval Action').first().json.clicked_by_name,\n    slack_channel: $('Parse Slack Approval Action').first().json.slack_channel,\n    slack_message_ts: $('Parse Slack Approval Action').first().json.slack_message_ts,\n    response_url: $('Parse Slack Approval Action').first().json.response_url,\n\n    reviewed_by: $('Parse Slack Approval Action').first().json.clicked_by_name,\n    reviewed_at: $now.format('yyyy-MM-dd HH:mm:ss ZZZZ'),\n\n    reply_to_send: $json.final_reply || $json.suggested_reply || $json.ai_suggested_reply\n  }\n}}",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        -304
      ],
      "id": "7c79b6e7-9365-4be4-b361-89c102b85970",
      "name": "Prepare Ticket Decision Context"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.update",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    channel: $('Prepare Ticket Decision Context').first().json.slack_channel,\n    ts: $('Prepare Ticket Decision Context').first().json.slack_message_ts,\n    text: 'Approved and sent',\n    blocks: [\n      {\n        type: 'section',\n        text: {\n          type: 'mrkdwn',\n          text:\n            '✅ *Approved and sent*\\n' +\n            '*From:* ' + ($('Prepare Ticket Decision Context').first().json.customer_email || 'Unknown') + '\\n' +\n            '*Subject:* ' + ($('Prepare Ticket Decision Context').first().json.subject || 'No subject') + '\\n' +\n            '*Category:* `' + ($('Prepare Ticket Decision Context').first().json.category || $('Prepare Ticket Decision Context').first().json.ai_category || 'other') + '`\\n' +\n            '*Priority:* `' + ($('Prepare Ticket Decision Context').first().json.priority || $('Prepare Ticket Decision Context').first().json.ai_priority || 'unknown') + '`\\n' +\n            '*Summary:* ' + ($('Prepare Ticket Decision Context').first().json.summary || $('Prepare Ticket Decision Context').first().json.ai_summary || 'No summary available') + '\\n' +\n            '*Reply sent:* ' + ($('Prepare Ticket Decision Context').first().json.reply_to_send || $('Prepare Ticket Decision Context').first().json.final_reply || $('Prepare Ticket Decision Context').first().json.suggested_reply || '') + '\\n\\n' +\n            '*Ticket ID:* `' + $('Prepare Ticket Decision Context').first().json.ticket_id + '` • ' +\n            '*Status:* `Sent` • ' +\n            '*Approved by:* `' + ($('Prepare Ticket Decision Context').first().json.approved_by || $('Prepare Ticket Decision Context').first().json.clicked_by_name) + '` • ' +\n            '*Approved at:* `' + ($('Prepare Ticket Decision Context').first().json.approved_at || '') + '`'\n        }\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2304,
        -864
      ],
      "id": "e224f86e-5223-44f7-9dc5-efb430002cf2",
      "name": "Slack: Update Approved",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HTTP_HEADER_AUTH_CREDENTIAL_ID_PLACEHOLDER",
          "name": "HTTP_HEADER_AUTH_CREDENTIAL_NAME_PLACEHOLDER"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YOUR_GOOGLE_SHEET_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_SHEET_TAB_ID",
          "mode": "list",
          "cachedResultName": "YOUR_SHEET_TAB_NAME",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=YOUR_SHEET_TAB_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "Sent",
            "reviewer_notes": "=",
            "approved_by": "={{ $('Prepare Ticket Decision Context').first().json.clicked_by_name }}",
            "approved_at": "={{ $now.format('yyyy-MM-dd HH:mm:ss ZZZZ') }}",
            "sent_at": "={{ $now.format('yyyy-MM-dd HH:mm:ss ZZZZ') }}",
            "ticket_id": "={{ $('Prepare Ticket Decision Context').item.json.ticket_id }}",
            "row_number": 0
          },
          "matchingColumns": [
            "ticket_id"
          ],
          "schema": [
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentiment",
              "displayName": "sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_intent",
              "displayName": "customer_intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "needs_human",
              "displayName": "needs_human",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "suggested_reply",
              "displayName": "suggested_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "final_reply",
              "displayName": "final_reply",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_message_id",
              "displayName": "gmail_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gmail_thread_id",
              "displayName": "gmail_thread_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slack_channel",
              "displayName": "slack_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slack_message_ts",
              "displayName": "slack_message_ts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "reviewer_notes",
              "displayName": "reviewer_notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_by",
              "displayName": "approved_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approved_at",
              "displayName": "approved_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1984,
        -864
      ],
      "id": "d9897981-4e6a-4c46-978a-0d967b5ca454",
      "name": "Update Sheet: Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_OAUTH2_CREDENTIAL_ID_PLACEHOLDER",
          "name": "GOOGLE_SHEETS_OAUTH2_CREDENTIAL_NAME_PLACEHOLDER"
        }
      }
    },
    {
      "parameters": {
        "content": "## Slack Button Webhook\n\nReceives Slack button clicks.\n\nSlack Interactivity Request URL should point to this workflow’s production webhook.\n\nUse production URL when active:\n.../webhook/support-approval",
        "height": 352,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -496
      ],
      "typeVersion": 1,
      "id": "24f6097b-03c0-4847-b7b8-dc1d00312ac7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Parse Slack Action\n\nExtracts the reviewer decision from Slack.\n\nOutputs:\n- ticket_id\n- decision\n- clicked_by_name\n- slack_channel\n- slack_message_ts\n\nButton value format:\nticket_id|decision",
        "height": 352,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -496
      ],
      "typeVersion": 1,
      "id": "bcf50853-aa21-44a9-a05c-9d7fbe904fb4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Parse Slack Action\n\nFinds the matching ticket in Google Sheets using ticket_id & relevant column",
        "height": 288,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        336,
        -432
      ],
      "typeVersion": 1,
      "id": "fdae237d-f4d7-400c-b598-e438ae080f78",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Prepare Ticket Context\n\nCombines Google Sheets ticket data with Slack reviewer data.\n\nCreates shared fields used by all decision paths:\n- reply_to_send\n- reviewed_by\n- reviewed_at\n- slack_channel\n- slack_message_ts",
        "height": 368,
        "width": 336,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        -496
      ],
      "typeVersion": 1,
      "id": "a38ce5e2-93f5-4951-899b-60fdfe32897c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Route Decision\n\nRoutes based on the Slack button clicked.\n\napprove → send reply\nneeds_edit → mark for editing\nreject → reject AI draft\n\nOnly approve sends an email.",
        "height": 368,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        -496
      ],
      "typeVersion": 1,
      "id": "b06f3e4c-d699-4657-896e-3ccfe532b31f",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Approve Path\n\nReviewer approved the AI draft.\n\nActions:\n1. Send Gmail reply\n2. Mark ticket as Sent\n3. Update original Slack message\n\nCustomer receives the email only in this path.",
        "height": 208,
        "width": 496,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1632,
        -1360
      ],
      "typeVersion": 1,
      "id": "a6b3b0a5-d76c-4ed4-a355-83bfd1c1b078",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Send Gmail Reply\n\nSends the approved final_reply to the customer.\n\nUses:\n- customer_email\n- subject\n- reply_to_send\n\nThis node runs only after Slack approval.",
        "height": 384,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -1088
      ],
      "typeVersion": 1,
      "id": "f9c518e0-fae8-4acd-8093-1c27246ebcc3",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Update Ticket as Sent\n\nUpdates the Google Sheet after the Gmail reply is sent.\n\nSets:\n- status = Sent\n- approved_by\n- approved_at\n- sent_at",
        "height": 384,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1888,
        -1088
      ],
      "typeVersion": 1,
      "id": "73e09271-e622-4060-9cd9-592fab452b97",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Update Slack: Approved\n\nUpdates the original Slack message using chat.update.\n\nShows:\n- Approved and sent\n- ticket_id\n- approver\n- sent reply summary\n\nThis removes the approval buttons.",
        "height": 384,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        -1088
      ],
      "typeVersion": 1,
      "id": "df059b2f-8d62-4ee3-b3bf-bb58d86db3cf",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Needs Edit Path\n\nReviewer wants to revise the AI draft.\n\nNo email is sent.\n\nThe ticket is marked Needs Edit so a human can update final_reply in Google Sheets.",
        "height": 208,
        "width": 496,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -672
      ],
      "typeVersion": 1,
      "id": "66a32a47-2224-4792-b18e-e969e5d31c50",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Update Ticket as Needs Edit\n\nUpdates Google Sheets when the reviewer requests edits.\n\nSets:\n- status = Needs Edit\n- reviewer_notes\n- approved_by / reviewed_by\n- approved_at / reviewed_at",
        "height": 432,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        -432
      ],
      "typeVersion": 1,
      "id": "d6bde331-1124-4a07-9c54-db4177290e29",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Update Slack: Needs Edit\n\nUpdates the original Slack message.\n\nShows that the ticket needs editing and reminds the reviewer to update final_reply in Google Sheets.\n\nButtons are removed.",
        "height": 336,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        -336
      ],
      "typeVersion": 1,
      "id": "8322d0dc-7c20-4026-9957-3af489415a16",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Reject Path\n\nReviewer rejects the AI draft.\n\nNo email is sent.\n\nUse this when the AI response is wrong, risky, irrelevant, or should be handled manually.",
        "height": 208,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        32
      ],
      "typeVersion": 1,
      "id": "05378b21-bcf4-44f7-9000-4694213fadda",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Update Ticket as Rejected\n\nUpdates Google Sheets when the AI draft is rejected.\n\nSets:\n- status = Rejected\n- reviewer_notes\n- approved_by / reviewed_by\n- approved_at / reviewed_at",
        "height": 432,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1616,
        272
      ],
      "typeVersion": 1,
      "id": "de7dbe0f-4883-4fc7-be2b-5da210ab712a",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Update Slack: Rejected\n\nUpdates the original Slack message to show rejection.\n\nConfirms no email was sent and removes the buttons.",
        "height": 304,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        400
      ],
      "typeVersion": 1,
      "id": "d1928fe9-4e1d-49bb-a9ab-23cc0ae51927",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Safety\n\nOnly the Approve path sends a customer email.\n\nNeeds Edit and Reject never send Gmail replies.\n\nThis keeps the AI human-in-the-loop and prevents unsafe automatic responses.",
        "width": 592,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -944
      ],
      "typeVersion": 1,
      "id": "af58775e-f84b-4916-93f7-cfe5f94fa40d",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## Support Approval Button Handler\n\nThis workflow handles the human decision after the AI triage workflow posts a Slack approval message.\n\nWhen a reviewer clicks Approve, Needs Edit, or Reject in Slack, this workflow receives the button event, finds the matching ticket in Google Sheets, and updates the ticket based on the reviewer’s decision.\n\nOnly the Approve path sends a Gmail reply to the customer.\nNeeds Edit and Reject never send emails.",
        "height": 224,
        "width": 592,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -1488
      ],
      "typeVersion": 1,
      "id": "3b679914-9037-4efc-a58f-dea834b1b8b3",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Workflow Steps\n\n1. Receive Slack button click through Webhook.\n2. Parse the Slack action to get ticket_id and decision.\n3. Look up the matching ticket in Google Sheets.\n4. Prepare shared ticket and reviewer context.\n5. Route the decision:\n   - Approve → send Gmail reply, mark Sent, update Slack.\n   - Needs Edit → mark Needs Edit, update Slack.\n   - Reject → mark Rejected, update Slack.\n6. Update the original Slack message and remove the buttons.",
        "height": 288,
        "width": 592,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -1248
      ],
      "typeVersion": 1,
      "id": "09cbe7d9-b06f-48b2-9942-181d481ccc7e",
      "name": "Sticky Note17"
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Slack Approval Action": {
      "main": [
        [
          {
            "node": "Lookup Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Approval Decision": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheet: Needs Edit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheet: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Update Sheet: Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Parse Slack Approval Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet: Needs Edit": {
      "main": [
        [
          {
            "node": "Slack: Update Needs Edit Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet: Rejected": {
      "main": [
        [
          {
            "node": "Slack: Update Rejected Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Tickets": {
      "main": [
        [
          {
            "node": "Prepare Ticket Decision Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Ticket Decision Context": {
      "main": [
        [
          {
            "node": "Route Approval Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet: Approved": {
      "main": [
        [
          {
            "node": "Slack: Update Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "WORKFLOW_VERSION_ID_PLACEHOLDER",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "N8N_INSTANCE_ID_PLACEHOLDER"
  },
  "id": "WORKFLOW_ID_PLACEHOLDER",
  "tags": []
}
